{% extends "base2.html" %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Invo!</h1>
    <p class="lead text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem beatae, perferendis laboriosam provident nostrum maiores accusantium officiis aut autem laudantium amet natus repudiandae recusandae vel eos nesciunt impedit, hic blanditiis!</p>
  </div>
</section>
<div class="album py-5 bg-light ">
  <div class="container ">
    <div class="row row-cols-1 row-cols-md-2 g-4">

      <div class="col">
        <a href="/items" class="d-block nav-heading text-center" style="text-decoration: none; color:black;">
          <div class="card text-center">
            <img src="../static/img/inv/list.png" class="card-img-top" alt="..." style="width: 25%; margin:15px auto;">
            <div class="card-body">
              <h5 class="card-title">View Current Inventory</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="#" class="d-block nav-heading text-center" style="text-decoration: none; color:black;">
          <div class="card text-center">
            <img src="../static/img/inv/stock.png" class="card-img-top" alt="..." style="width: 25%; margin:15px auto;">
            <div class="card-body">
              <h5 class="card-title">Manage Inventory</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/add_item" class="d-block nav-heading text-center" style="text-decoration: none; color:black;">
          <div class="card text-center">
            <img src="../static/img/inv/add-to-basket.png" class="card-img-top" alt="..." style="width: 25%; margin:15px auto;">
            <div class="card-body">
              <h5 class="card-title">Add New Products</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/convert" class="d-block nav-heading text-center" style="text-decoration: none; color:black;">
          <div class="card text-center">
            <img src="../static/img/inv/groceries.png" class="card-img-top" alt="..." style="width: 25%; margin:15px auto;">
            <div class="card-body">
              <h5 class="card-title">Unit Conversions</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</div>

{% endblock %}