{% extends "base2.html" %}

{% block content %}
  
<div class="container-fluid"></div>
    <div class="d-sm-flex align-items-center justify-content-between">
        <div>
            <h1>Welcome to Invo!</span> </h1>
            <p class="lead my-4">An easier way to keep track of your inventory!</p>
            <a href="/signUp" class="btn btn-primary btn-lg" role="button">Sign Up</a>
        </div>
        <!-- <img class="img-fluid w-50 d-none d-sm-block" src="../static/img/inv/20946001.jpg" alt=""> -->
        <img class="img-fluid w-50 d-none d-sm-block" src="../static/img/inv/Reading list-cuate.png" alt="">
    </div>
</div>
  
{% endblock %}