{% extends "base2.html" %}
{% block title %}List of Items{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>List of Items</h1>
        
        <form class="navbar-form navbar-right" action="/items">
            <input name="c" class="form-control" placeholder="Category" id="search">
            <input name="p" class="form-control" placeholder="Product" id="search">
            <!-- <input type="checkbox" name="csv" value="csv">
            <label for="csv"> Export to CSV</label><br> -->
            <button class="btn btn-default">
              <span class="fa fa-search"></span>
            </button>
        </form>

        {% if search|length == 0  %}
            <h3>Sorry, not category found!</h3>
        {% else %}
            <div class="display_table">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <!-- <th>COUNT</th> -->
                            <th>CATEGORY</th>
                            <th>PRODUCT NAME</th>
                            <th>QUANTITY IN STORE</th>
                            <th>REORDER LEVEL</th>
                            <!-- <th>TIMESTAMP</th> -->
                            <th>LAST UPDATED</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    {%for c in search%}
                        <tr>
                            <!-- <td>{{c.id}}</td> -->
                            <td>{{c.category}}</td>
                            <td><a href="/update_item/{{c.id}}/">{{c.product_name}}</a></td>
                            <td>
                                {% if c.quantity <= c.reorder_levels %}
                                    <div style="background-color:orange;">
                                        <a href="/item_details/{{c.id}}/">{{c.quantity}}</a>
                                    </div>
                                {%else%}
                                    <a href="/item_details/{{c.id}}/">{{c.quantity}}</a>
                                {% endif %}
                            </td>
                            <!-- <td><a href="/item_details/{{c.id}}/">{{c.quantity}}</a></td> -->
                            <td><a href="/reorder_level/{{c.id}}">{{c.reorder_levels}}</a></td>
                            <!-- <td>{{c.timestamp}}</td> -->
                            <td>{{c.last_updated}}</td>
                            <td><a href="/delete_items/{{c.id}}">Delete</a></td>
                        </tr>
                    {%endfor%}
                </table>
            </div>
        {%endif%}
    </div>
{% endblock %}