{% extends "base2.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between">
    <img class="img-fluid w-50 d-none d-sm-block" src="../static/img/inv/main-qimg-.png" alt="">

    <div>
        <h2>Login</h2>
        <!-- <p class="lead">Login Below. Don't have an account? <a href="/signUp">Sign Up Here!</a> </p> -->
        <p class="lead">Login Below. Don't have an account? <a href="/signUp"><span class="badge rounded-pill bg-primary">Sign Up Here!</span></a> </p>

        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form
                if field.widget.input_type != 'hidden' %}

                <div class="mb-3">
                    {{ field.label }}
                    {{ field(class_="form-control") }}

                    {% for error in field.errors %}
                    <span class="form-text text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <button class="btn btn-success" type="submit">Login</button>
        </form>    
    </div>
</div>
{% endblock %}