{% extends "base2.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between">
    <div>
        <h2 class="form-title">Sign Up</h2>
        <p class="lead">Create an account</p>

        <form method="POST">
            {{ form.hidden_tag() }}

            {% for field in form
                if field.widget.input_type != 'hidden' %}
            <div class="mb-3">
                {{ field.label }}
                {{ field(class_="form-control") }}

                {% for error in field.errors %}
                <span class="form-text text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
            
            <button class="btn btn-success" type="submit">Sign Up</button>
        </form>
    </div>
    <img class="img-fluid w-50 d-none d-sm-block" src="../static/img/inv/illustration-inventory-management.jpg" alt="">
</div>
{% endblock %}